* {
  margin: 0;
  color: black;
  text-decoration: none;
}

.nav {
  width: 100%;
  padding: 5px;
  background-color: #3e3e3e;
  display: flex;
  justify-content: flex-end;
}
.nav .navItems {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.containAllOfMe {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 240px;
}
.containAllOfMe .theBorder {
  position: absolute;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #4f4f4f);
  width: 420px;
  height: 240px;
  display: flex;
  flex-wrap: nowrap;
  border: 2px solid black;
  box-sizing: border-box;
}
.containAllOfMe .theBorder .myPic {
  display: flex;
  align-self: center;
  width: 35%;
  height: fit-content;
  background-size: cover;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 7px white;
}
.containAllOfMe .theBorder .corners {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 10px;
}
.containAllOfMe .theBorder .topLeft {
  top: 0%;
  left: 0%;
  clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
}
.containAllOfMe .theBorder .topRight {
  top: 0%;
  right: -0.5%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}
.containAllOfMe .theBorder .bottomLeft {
  bottom: 0%;
  left: 0%;
  clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
}
.containAllOfMe .theBorder .bottomRight {
  bottom: 0%;
  right: -0.5%;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}
.containAllOfMe .theBorder .meBox {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.containAllOfMe .theBorder .meBox .myName {
  font-size: xx-large;
}
.containAllOfMe .theBorder .meBox .jobTitle {
  font-size: large;
}
.containAllOfMe .theBorder .meBox .links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.containAllOfMe .theBorder .meBox .links .linkedIn {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.containAllOfMe .theBorder .meBox .links .linkedIn .image {
  width: 25px;
}
.containAllOfMe .theBorder .meBox .links .gitHub {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.containAllOfMe .theBorder .meBox .links .gitHub .image {
  width: 25px;
}

.allAboutMe .aboutMeDiv {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}
.allAboutMe .educationDiv {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}
.allAboutMe .educationDiv p .toTheRight {
  position: absolute;
  right: 5%;
}

.Projects .single_Project {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  display: flex;
  height: 250px;
  align-items: center;
}
.Projects .single_Project .projectPic {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 2px solid #c4c4c4;
}
.Projects .single_Project .projectPic .picture {
  margin-right: 5px;
  width: 250px;
  max-height: 250px;
  background-size: contain;
}
.Projects .single_Project .information {
  margin-left: 5px;
}
.Projects .single_Project .information .links {
  display: flex;
  align-items: center;
}
.Projects .single_Project .information .description {
  margin-bottom: 10px;
}
.Projects .single_Project .information .techs {
  margin-bottom: 5px;
  font-weight: 700;
}

.contactPage {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.contactPage .contactBox {
  margin: 10px;
  padding: 10px;
  width: 400px;
  position: absolute;
  top: 270px;
  border: 2px solid black;
}
.contactPage .contactBox .myEmail {
  text-align: center;
  margin-bottom: 10px;
}
.contactPage .contactBox button {
  position: absolute;
  top: 10px;
  left: 10px;
}
.contactPage .contactBox .copyStatus {
  background-color: #79e079;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.contactPage .contactBox .form .contactItem {
  display: flex;
  margin-bottom: 10px;
}
.contactPage .contactBox .form .contactItem .word {
  width: 100px;
}
.contactPage .contactBox .form .messageDiv .inputs {
  width: 70%;
  height: 200px;
}

/*# sourceMappingURL=main.css.map */
