* {
  margin: 0;
  text-decoration: none;
}

body {
  background-color: gray;
}

.nav {
  width: 100%;
  padding: 5px;
  background-color: #3e3e3e;
  display: flex;
  justify-content: flex-end;
}
.nav .navItems {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.containAllOfMe {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 240px;
}
.containAllOfMe .theBorder {
  position: absolute;
  background: linear-gradient(to left, white, #4f4f4f);
  width: 420px;
  height: 240px;
  display: flex;
  flex-wrap: nowrap;
  border: 2px solid black;
  box-sizing: border-box;
}
.containAllOfMe .theBorder .myPic {
  display: flex;
  align-self: center;
  width: 35%;
  height: fit-content;
  background-size: cover;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 7px white;
}
.containAllOfMe .theBorder .corners {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 10px;
}
.containAllOfMe .theBorder .topLeft {
  top: 0%;
  left: 0%;
  clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
}
.containAllOfMe .theBorder .topRight {
  top: 0%;
  right: -0.5%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}
.containAllOfMe .theBorder .bottomLeft {
  bottom: 0%;
  left: 0%;
  clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
}
.containAllOfMe .theBorder .bottomRight {
  bottom: 0%;
  right: -0.5%;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}
.containAllOfMe .theBorder .meBox {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.containAllOfMe .theBorder .meBox .myName {
  font-size: xx-large;
}
.containAllOfMe .theBorder .meBox .jobTitle {
  font-size: large;
}
.containAllOfMe .theBorder .meBox .links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.containAllOfMe .theBorder .meBox .links .linkedIn {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.containAllOfMe .theBorder .meBox .links .linkedIn .image {
  width: 25px;
}
.containAllOfMe .theBorder .meBox .links .gitHub {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.containAllOfMe .theBorder .meBox .links .gitHub .image {
  width: 25px;
}

.allAboutMe .aboutMeDiv {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}
.allAboutMe .educationDiv {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}
.allAboutMe .educationDiv p .toTheRight {
  position: absolute;
  right: 5%;
}

.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Projects .single_Project {
  border: 2px solid black;
  margin: 10px;
  height: 500px;
  width: 500px;
  text-align: -webkit-center;
  align-items: center;
}
.Projects .single_Project h3 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 40px;
}
.Projects .single_Project .projectPic {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 90%;
  width: 90%;
  padding: 10px;
  margin: 0;
}
.Projects .single_Project .projectPic .picture {
  width: 100%;
  max-height: 100%;
  background-size: contain;
}
.Projects .single_Project .information {
  position: absolute;
  text-align: start;
  padding: 10px;
  width: 482px;
  height: 484px;
  transform: translateY(-93.6%);
  opacity: 0.5;
  background-color: black;
  color: white;
}
.Projects .single_Project .information .links {
  display: flex;
  align-items: center;
  vertical-align: center;
}
.Projects .single_Project .information .allInfo .description {
  margin-bottom: 10px;
}
.Projects .single_Project .information .allInfo .techs {
  margin-bottom: 5px;
  font-weight: 700;
}

.contactPage {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.contactPage .contactBox {
  background-color: #c9c9c9;
  margin: 10px;
  padding: 10px;
  width: 400px;
  position: absolute;
  top: 270px;
  border: 2px solid black;
}
.contactPage .contactBox .myEmail {
  text-align: center;
  margin-bottom: 10px;
}
.contactPage .contactBox button {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  top: 10px;
  left: 10px;
}
.contactPage .contactBox .copyStatus {
  background-color: #79e079;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.contactPage .contactBox .form .contactItem {
  display: flex;
  margin-bottom: 10px;
}
.contactPage .contactBox .form .contactItem .word {
  width: 100px;
}
.contactPage .contactBox .form .messageDiv .inputs {
  width: 70%;
  height: 200px;
}

/*# sourceMappingURL=main.css.map */
