*{
    margin:0;
    // color: black;
    text-decoration: none;
}
body{
    background-color: gray;
}
.nav{
    width: 100%;
    padding: 5px;
    background-color: rgb(62, 62, 62);
    display: flex;
    justify-content: flex-end;
    .navItems{
        color: white;
        margin-left: 15px;
        margin-right: 15px;
      }
}
.containAllOfMe {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 240px;
    .theBorder{
        position: absolute;
        background: linear-gradient(to left, rgb(255, 255, 255),rgb(79, 79, 79));
        // padding: 10px;
        width: 420px;
        height: 240px;
        // max-width: 525px;
        // max-height: 300px;
        display: flex;
        // justify-content: space-around;
        flex-wrap: nowrap;
        border: 2px solid black;
        box-sizing: border-box;
        .myPic{
            display: flex;
            align-self: center;
            width: 35%;
            height:fit-content;
            background-size: cover;
            border: 2px solid black;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0px 0px 7px white;
        }
        .corners {
            position: absolute;
            background-color: black;
            width: 10px;
            height: 10px;
        }
        .topLeft{
            top: 0%;
            left: 0%;
            clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
        }
        .topRight{
            top: 0%;
            right: -.5%;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
        }
        .bottomLeft{
            bottom: 0%;
            left: 0%;
            clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
        }
        .bottomRight{
            bottom: 0%;
            right: -.5%;
            clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
        }
        .meBox{
            // background-color: rgb(213, 213, 213);
            // width: 100%;
            width:100%;
            padding: 5px;
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            align-items: center;
            .myName{
                
                font-size: xx-large;
            }
            
            .jobTitle{
                font-size: large;
            }
            .links{
                display: flex;
                justify-content: space-around;
                width: 100%;
                .linkedIn {
                    text-decoration: none;
                    color: black;
                    display: flex;
                    align-items: center;
                    .image{

                        width: 25px;
                    }
                }
                .gitHub{
                    text-decoration: none;
                    color: black;
                    display: flex;
                    align-items: center;
                    .image{
                        width: 25px;
                    }
                }
            }
        }
    }
}
.allAboutMe {
    .aboutMeDiv{
        border: 2px solid black;
        padding: 10px;
        margin: 10px;
        .aboutTitle{

        }
    }
    .educationDiv{
        border: 2px solid black;
        padding: 10px;
        margin: 10px;
        p{
            .toTheRight{
                position: absolute;
                right: 5%
            }
        }
    }
}

.Projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // .hex{
    //     grid-row-start: 1;
    //     grid-row-end: 1;
    //     grid-column-start: 1;
    //     grid-column-end: 1;
    // }
    // .pk{
    //     grid-column-start: 2;
    //     grid-column-end: 2;
    // }
    // .codr{

    // }
    // .cook{

    // }
    .single_Project{
        border: 2px solid black;
        margin: 10px;
        // display: flex;
        height: 500px;
        width: 500px;
        text-align: -webkit-center;
        align-items: center;
        
        h3{
            text-align: center;
            background-color: rgba(0,0,0,.3);
            height: 40px;

        }
        .projectPic{
            display: flex;
            align-items: center;
            justify-items: center;
            height: 90%;
            width: 90%;
            padding: 10px;
            margin: 0;
            // border-right: 2px solid rgb(196, 196, 196);
            .picture{
                // margin-right: 5px;
                width: 100%;
                max-height: 100%;
                background-size: contain;

            }
        }
        .information{
            // margin-left: 5px;
            // visibility: hidden;
            position:absolute;
            text-align: start;
            padding: 10px;
            width: 482px;
            height: 484px;
            // transform: translateY(-10%);
            transform: translateY(-93.6%);
            opacity: 0.5
            ;
            background-color: black;
            color: white;
            .links{
                display: flex;
                align-items: center;
                vertical-align: center;
            }
            .allInfo{
                opacity: 0;
                visibility: hidden;
                .description{
                    background-color: green;
                    margin-bottom: 10px;
                }
                .techs{
                    margin-bottom: 5px;
                    font-weight: 700;
                }
            }
        }
    }
}

.contactPage {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    .contactBox{
        background-color: rgb(201, 201, 201);
        margin: 10px;
        padding: 10px;;
        width: 400px;
        position: absolute;
        top: 270px;
        // height: 400px;
        border: 2px solid black;
        .myEmail{
            text-align: center;
            margin-bottom: 10px;
        }
        button{
            position: absolute;
            border: 1px solid black;
            border-radius: 5px;
            top: 10px;
            left:10px;
        }
        .copyStatus{
            background-color: rgb(121, 224, 121);
            color: black;
            position: absolute;
            top: 0;
            right:0;
            padding:10px;
        }
        .form{
            .contactItem{
                display: flex;
                margin-bottom: 10px;
                // justify-content: space-around;
                .word{
                    width: 100px;
                }
            }
            .messageDiv{

                .inputs{
                    width:70%;
                    height:200px;
                }
            }
        }
    }
}